<!-- Hero Section -->
<section class="hero">
  <div class="hero-container container">
    <h1 class="hero-title">
      Discover the magic of
      <span class="hero-accent">photography</span>
      in our school
    </h1>
    <p class="hero-info">
      Our photography school offers an unforgettable journey, where you can
      learn the basics of composition, master technical skills, translate your
      unique ideas.
    </p>

    <div class="hero-wrapper">
      <div class="hero-students">
        <ul class="hero-students-list">
          <li class="hero-students-foto foto-1">
            <img
              srcset="./img/hero/girl 1@1x.jpg, ./img/hero/girl 1@1x.jpg, "
              src="./img/hero/girl 1@1x.jpg"
              alt="foto-1"
              width="44"
              height="44"
            />
          </li>

          <li class="hero-students-foto foto-2">
            <img
              srcset="./img/hero/boy@1x.jpg, ./img/hero/boy@2x.jpg"
              src="./img/hero/boy@1x.jpg"
              alt="foto-2"
              width="44"
              height="44"
            />
          </li>

          <li class="hero-students-foto foto-3">
            <img
              srcset="./img/hero/girl@1x.jpg, ./img/hero/girl@2x.jpg"
              src="./img/hero/girl@1x.jpg"
              alt="foto-3"
              width="44"
              height="44"
            />
          </li>
        </ul>

        <a class="hero-students-link" href="./index.html">
          Our happy students
          <svg class="hero-stunets-icon" width="18" height="8.66">
            <use href="./img/icons.svg#icon-hero-arrow"></use>
          </svg>
        </a>
      </div>
      <div class="hero-reviews-wrapper">
        <a class="hero-reviews-link" href="./index.html">
          <svg class="hero-reviews-icon" width="20" height="20">
            <use href="./img/icons.svg#icon-hero-star"></use>
          </svg>
        </a>

        <div class="hero-reviews-info-wrapper">
          <p class="reviews-accent">Reviews</p>
          <p class="hero-info">+1500</p>
        </div>
      </div>
    </div>
  </div>
</section>
